<nav>
    <a href="/">Home</a>
    <a href="/products/create_product">create new phone</a>
        <a href="/products/listing_page">view List</a>

    <a href="/products/retrieve_product">edit</a>
    
</nav>