<% title='Contact Us' %>
<h1>Contact Us</h1>
<p>Please feel free to contact us regarding any queries you have of our product</p>
<label>Mobile No: </label><br>
<input type="text" name=""><br>
<label>Feedback: </label><br>
<textarea></textarea>